body
{
  padding: 10px;
  margin: auto;
  height: 100%;
  background:#dddddd

  
   
}
.rightdivp{    border-bottom: 2px solid black; 
	padding: 2px;

}

.centerm{
	text-align: center;

}





.container
{font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
line-height: 20px;

  text-align: center;
  padding: 15px;  
}
.left-div
{
  display: inline-block;
  max-width: 650px;
  text-align: left;
  padding: 30px;
  background-color: #ffffff;
 
  margin: 15px;
  vertical-align: top;
}
.right-div
{
  display: inline-block;
  max-width: 270px;
  text-align: center;
  padding: 30px;
  background-color: #ffffff;

  margin: 15px;
}


.pic2{
    height: 38px;
    float: left;
    width: 50px;
    display: block;
    object-fit: contain;
    margin: 3px;
}

.welmain{
	height: 139px;
    float: left;
    width: 223px;
    
    
    margin: 3px;

}
footer{
 
  
  text-align: center;
  padding: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: inherit;
  position: absolute;
  background: #666666
 
}





 	.menu-container {
  color: #777777;
  background-color: #ffffff; 
  padding: 10px;
  justify-content: center; 
  font-family: 'Georgia', Times, Times New Roman, serif;
  display: flex;
}
.menu {
   border: 1px solid #fff;
  width: 690px;
  display: inline;
  justify-content: space-around;
  margin: 15px;
  padding: 15px;


}

.links {
  border: 1px solid #fff; 
  display: flex;
  justify-content: flex-end;
 justify-content: space-around;
  margin: 15px;
  padding: 15px;
  width: 228px;
}
@media screen and (max-width: 600px) 
{
  .left-div, .right-div, 
    {
       max-width: 100%;
    }
}
